@tailwind base;
@tailwind components;
@tailwind utilities;


.Text-12-600 {
    /* font-family: "DM Sans"; */
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
  }

  .Text-12-400 {
    /* font-family: "DM Sans"; */
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
  }